<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="event">
	<resultMap type="com.jscb.gohaeng.dto.EventDto" id="eventDto">
		<result property="index" column="EVENT_INDEX" />
		<result property="title" column="EVENT_TITLE" />
		<result property="drawDate" column="EVENT_DRAW_DATE" />
		<result property="subTitle" column="EVENT_SUBTITLE" />
		<result property="content" column="EVENT_CONTENT" />
		<result property="enable" column="EVENT_ENABLE" />
		<result property="startDate" column="EVENT_START_DATE" />
		<result property="endDate" column="EVENT_END_DATE" />
		<result property="regDate" column="EVENT_REG_DATE" />
		<result property="display" column="EVENT_DISPLAY" />
	</resultMap>
	<select id="getCount" parameterType="com.jscb.gohaeng.dto.EventDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM EVENT
		<choose>
			<when test="title != null and content != null">
				WHERE EVENT_TITLE LIKE '%${title}%' OR
				EVENT_CONTENT LIKE '%${content}%'
			</when>
			<when test="title != null">
				WHERE EVENT_TITLE LIKE '%${title}%'
			</when>
			<when test="subTitle != null">
				WHERE EVENT_SUBTITLE LIKE '%${subTitle}%'
			</when>
		</choose>
	</select>
	<select id="getList" resultMap="eventDto" parameterType="com.jscb.gohaeng.dto.EventDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT *
				FROM EVENT
				<choose>
					<when test="title != null and content != null">
						WHERE EVENT_TITLE LIKE '%${title}%' OR
						EVENT_CONTENT LIKE '%${content}%'
					</when>
					<when test="title != null">
						WHERE EVENT_TITLE LIKE '%${title}%'
					</when>
					<when test="subTitle != null">
						WHERE EVENT_SUBTITLE LIKE '%${subTitle}%'
					</when>
				</choose>
				ORDER BY EVENT_INDEX DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getDetail" resultMap="eventDto" parameterType="com.jscb.gohaeng.dto.EventDto">
		SELECT * FROM EVENT WHERE EVENT_INDEX = #{index}
	</select>
	<select id="getDetail2" resultMap="eventDto" parameterType="int">
		SELECT * FROM EVENT WHERE EVENT_INDEX = #{index}
	</select>
<!-- 	<select id="getDetail2" resultMap="eventDto" parameterType="int">
		SELECT result1.*
		FROM
			(EVENT_INDEX, EVENT_TITLE, EVENT_DRAW_DATE, EVENT_SUBTITLE, 
		EVENT_CONTENT, EVENT_ENABLE, EVENT_START_DATE, EVENT_END_DATE, EVENT_REG_DATE, 
			LAG(EVENT_TITLE,1,'이전글') OVER(ORDER BY EVENT_INDEX DESC) AS prevTitle,
			LAG(EVENT_INDEX, 1, 0) OVER(ORDER BY EVENT_INDEX DESC) AS prevNum,
			LEAD(EVENT_INDEX, 1, 0) OVER(ORDER BY EVENT_INDEX DESC) AS nextNum,
			LEAD(EVENT_TITLE,1,'다음글') OVER(ORDER BY EVENT_INDEX DESC) AS nextTitle
			FROM NOTICE
			ORDER BY EVENT_INDEX DESC) result1
		WHERE EVENT_INDEX=#{index}
	</select> -->
	
	<insert id="insert" parameterType="com.jscb.gohaeng.dto.EventDto">
		INSERT INTO EVENT
		(EVENT_INDEX, EVENT_TITLE, EVENT_DRAW_DATE, EVENT_SUBTITLE, 
		EVENT_CONTENT, EVENT_START_DATE, EVENT_END_DATE)
		VALUES(EVENT_SEQ.NEXTVAL, #{title}, #{drawDate}, #{subTitle}, #{content},
		#{startDate}, #{endDate})	
	</insert>
</mapper>

