<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="faq">
<resultMap type="com.jscb.gohaeng.dto.FaqDto" id="FaqDto">
	<result property="index" column="FAQ_INDEX"/>
	<result property="question" column="FAQ_QUESTION"/>
	<result property="answer" column="FAQ_ANSWER"/>
	<result property="category" column="FAQ_CATEGORY"/>
</resultMap>

<select id="getList" resultMap="FaqDto" parameterType="com.jscb.gohaeng.dto.FaqDto">
		SELECT * FROM
   (SELECT result1.*, ROWNUM AS rnum
   FROM
   (SELECT *
   FROM FAQ
   <choose>
   	<when test="category == 1 or category == 2 or category == 3 ">
   		 WHERE FAQ_CATEGORY = ${category} 
   	</when>
   	<otherwise>
   	</otherwise>
   </choose>
  
   ORDER BY FAQ_INDEX) result1)
   WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
</select>

<select id="getCount" parameterType="com.jscb.gohaeng.dto.FaqDto" resultType="int">

	SELECT
	NVL(MAX(ROWNUM), 0) FROM FAQ
	<choose>
		<when test="category == 1 or category == 2 or category == 3 ">
			WHERE FAQ_CATEGORY = ${category}
		</when>
		<otherwise>
   		</otherwise>
	</choose>
</select>

</mapper>