<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LottoGames">
	<resultMap type="com.jscb.gohaeng.dto.LottoGamesDto" id="lottoGames">
		<result property="games" column="LGM_GAMES" />
		<result property="winningNum" column="LGM_WINNING_NUM" />
		<result property="bonusNum" column="LGM_BONUS_NUM" />
		<result property="drawDate" column="LGM_DRAW_DATE" />
		<result property="winningAmount" column="LGM_WINNING_AMOUNT" />
		<result property="paymentDate" column="LGM_PAYMENT_DATE" />
	</resultMap>
	
	<select id="getGames" resultType="int">
		SELECT LGM_GAMES
		FROM
			(SELECT * FROM LOTTO_GAMES_MANAGEMENT ORDER BY LGM_GAMES DESC)
	</select>
	
	<select id="getList" parameterType="java.util.Map"  resultMap="lottoGames">
		SELECT *
		FROM
    		(SELECT * FROM LOTTO_GAMES_MANAGEMENT ORDER BY LGM_GAMES DESC)
		<if test="start != 0">
			WHERE LGM_GAMES BETWEEN #{start} AND #{end}
		</if>
	</select>
	
	<select id="getList1" parameterType="map">
		SELECT *
		FROM
			(SELECT ROWNUM NUM, A.*
			FROM
				(SELECT * FROM LOTTO_GAMES_MANAGEMENT ORDER BY LGM_GAMES DESC)A)
		WHERE NUM
	</select>
	
	
	<select id="getData" parameterType="int" resultMap="lottoGames">
		SELECT * FROM LOTTO_GAMES_MANAGEMENT
		WHERE LGM_GAMES = #{games}
	</select>	
	
	<select id="getLastData" resultMap="lottoGames">
		SELECT *
		FROM
			(SELECT ROWNUM NUM, LGM.* 
			FROM
				(SELECT * FROM LOTTO_GAMES_MANAGEMENT ORDER BY LGM_GAMES DESC) LGM)
		WHERE NUM = 1
	</select>
	<insert id="insert" parameterType="com.jscb.gohaeng.dto.LottoGamesDto">
		INSERT INTO LOTTO_GAMES_MANAGEMENT
		(LGM_GAMES,LGM_WINNING_NUM,LGM_BONUS_NUM,LGM_DRAW_DATE)
		VALUES(#{games},#{winningNum},#{bonusNum},#{drawDate})
	</insert>
	<select id="getLastGames" parameterType="int" resultType="int">
		SELECT LGM_GAMES FROM LOTTO_GAMES_MANAGEMENT WHERE LGM_GAMES=#{games}
	</select>
</mapper>