<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LottoGames">
	<resultMap type="com.jscb.gohaeng.dto.LottoGamesDto" id="lottoGames">
		<result property="games" column="LGM_GAMES" />
		<result property="winningNum" column="LGM_WINNING_NUM" />
		<result property="bonusNum" column="LGM_BONUS_NUM" />
		<result property="drawDate" column="LGM_DRAW_DATE" />
		<result property="winningAmount" column="LGM_WINNING_AMOUNT" />
		<result property="paymentDate" column="LGM_PAYMENT_DATE" />
	</resultMap>
	
	<select id="getList" resultMap="lottoGames">
		SELECT * FROM LOTTO_GAMES_MANAGEMENT ORDER BY LGM_GAMES DESC
	</select>
	
	<select id="getData" parameterType="int" resultMap="lottoGames">
		SELECT * FROM LOTTO_GAMES_MANAGEMENT
		WHERE LGM_GAMES = #{games}
	</select>	
	
	<select id="getLastData" resultMap="lottoGames">
		SELECT *
		FROM
			(SELECT ROWNUM NUM, LGM.* 
			FROM
				(SELECT * FROM LOTTO_GAMES_MANAGEMENT ORDER BY LGM_GAMES DESC) LGM)
		WHERE NUM = 1
	</select>
</mapper>