<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<resultMap type="com.jscb.gohaeng.dto.MemberDto" id="memberDto">
		<result property="id" column="MEMBER_ID" />
		<result property="pwd" column="MEMBER_PWD" />
		<result property="name" column="MEMBER_NAME" />
		<result property="deposit" column="MEMBER_DEPOSIT" />
		<result property="birthday" column="MEMBER_BIRTHDAY" />
		<result property="hp" column="MEMBER_HP" />
		<result property="email" column="MEMBER_EMAIL" />
		<result property="addr" column="MEMBER_ADDR" />
		<result property="checkSms" column="MEMBER_CHECK_SMS" />
		<result property="checkEmail" column="MEMBER_CHECK_EMAIL" />
		<result property="checkSales" column="MEMBER_CHECK_SALES" />
		<result property="authKey" column="MEMBER_AUTHKEY" />
		<result property="authStatus" column="MEMBER_AUTHSTATUS" />
	</resultMap>
	
	<insert id="insert" parameterType="com.jscb.gohaeng.dto.MemberDto">
		INSERT INTO MEMBER 
		(MEMBER_ID,MEMBER_PWD,MEMBER_NAME,MEMBER_BIRTHDAY,MEMBER_HP,MEMBER_EMAIL,
		MEMBER_ADDR,MEMBER_CHECK_SMS,MEMBER_CHECK_EMAIL,MEMBER_CHECK_SALES)
		VALUES	
		(#{id}, #{pwd}, #{name},#{birthday}, #{hp}, #{email}, #{addr}, #{checkSms}
		, #{checkEmail}, #{checkSales})
	</insert>
	
	<select id="getData" parameterType="string" resultMap="memberDto">
		SELECT * FROM MEMBER WHERE MEMBER_ID = #{id}
	</select>
	
	<select id="isExist" parameterType="string" resultType="string">
		SELECT MEMBER_ID FROM MEMBER WHERE MEMBER_ID = #{id}
	</select>
	
	<!-- 회원 탈퇴 & 개인정보 수정 -->
	
	<delete id="delete" parameterType="string">
		DELETE FROM MEMBER WHERE MEMBER_ID = #{id}
	</delete>
	
	<update id="update" parameterType="com.jscb.gohaeng.dto.MemberDto">
		UPDATE MEMBER
		SET 
		MEMBER_HP=#{hp},
		MEMBER_EMAIL=#{email},
		MEMBER_ADDR=#{addr}
		WHERE
		MEMBER_ID=#{id}
		<!-- ,
		MEMBER_CHECK_SMS=#{checkSms},
		MEMBER_CHECK_EMAIL=#{checkEmail},
		MEMBER_CHECK_SALES=#{checkSales} -->
		
	</update>
	
	<!-- 회원 탈퇴 & 개인정보 수정 -->
	
	<update id="updateDeposit" parameterType="com.jscb.gohaeng.dto.DepositDto">
		UPDATE MEMBER 
		SET MEMBER_DEPOSIT = 
		<choose>
			<when test="inout == 1">
				MEMBER_DEPOSIT + #{price}		
			</when>
			<otherwise>
				MEMBER_DEPOSIT - #{price}
			</otherwise>			
		</choose>		
		WHERE MEMBER_ID = #{id}
	</update>
	
	<update id="updateAuthKey" parameterType="com.jscb.gohaeng.dto.MemberDto">
		UPDATE MEMBER SET MEMBER_AUTHKEY = #{authKey} WHERE MEMBER_EMAIL = #{email}
	</update>
	<update id="userAuthStatus" parameterType="string">
		UPDATE MEMBER SET MEMBER_AUTHSTATUS = 1 WHERE MEMBER_EMAIL = #{email}
	</update>
	
	<select id="getId" parameterType="map" resultType="string">
		SELECT MEMBER_ID FROM MEMBER WHERE MEMBER_NAME=#{name,jdbcType=VARCHAR} AND MEMBER_EMAIL= #{email,jdbcType=VARCHAR}
	</select>
	<update id="updatePwd" parameterType="map">
		UPDATE MEMBER SET MEMBER_PWD = #{pwd} WHERE MEMBER_ID = #{id}
	</update>
</mapper>