<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">

<resultMap type="com.jscb.gohaeng.dto.NoticeDto" id="NoticeDto">
	<result property="index" column="NOTICE_INDEX"/>
	<result property="writerId" column="WRITER_ID"/>
	<result property="title" column="NOTICE_TITLE"/>
	<result property="content" column="NOTICE_CONTENT"/>
	<result property="hit" column="NOTICE_HIT"/>
	<result property="regDate" column="NOTICE_REG_DATE"/>
</resultMap>

<!-- 공지사항 전체목록 -->
<select id="getList" resultMap="NoticeDto" parameterType="com.jscb.gohaeng.dto.NoticeDto">
	SELECT * FROM
	(SELECT result1.*, ROWNUM AS rnum 
	FROM
	(SELECT NOTICE_INDEX,NOTICE_TITLE,NOTICE_REG_DATE,NOTICE_HIT
	FROM NOTICE
	<choose>
		<when test="title != null">
			WHERE NOTICE_TITLE LIKE '%${title}%'
		</when>
		<when test="content != null">
			WHERE NOTICE_CONTENT LIKE '%${content}%'
		</when>
	</choose>
	ORDER BY NOTICE_INDEX DESC) result1)
	WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
</select>
<select id="getListQty" parameterType="int" resultMap="NoticeDto">
	SELECT *
	FROM
		(SELECT ROWNUM NUM, N.*
		FROM
			(SELECT * FROM NOTICE ORDER BY NOTICE_INDEX DESC)N)
	WHERE NUM &lt;= #{qty}
</select>
<!-- 공지사항 한개 목록 -->
<select id="getData" parameterType="int"
resultMap="NoticeDto">
	SELECT result1.*
		FROM
			(SELECT NOTICE_INDEX, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_HIT, NOTICE_REG_DATE,
			LAG(NOTICE_TITLE,1,'이전글') OVER(ORDER BY NOTICE_INDEX DESC) AS prevTitle,
			LAG(NOTICE_INDEX, 1, 0) OVER(ORDER BY NOTICE_INDEX DESC) AS prevNum,
			LEAD(NOTICE_INDEX, 1, 0) OVER(ORDER BY NOTICE_INDEX DESC) AS nextNum,
			LEAD(NOTICE_TITLE,1,'다음글') OVER(ORDER BY NOTICE_INDEX DESC) AS nextTitle
			FROM NOTICE
			ORDER BY NOTICE_INDEX DESC) result1
		WHERE NOTICE_INDEX=#{index}
</select>
<!-- 공지사항 한개 삭제 -->
<delete id="delete" parameterType="int">
	DELETE FROM NOTICE WHERE NOTICE_INDEX=#{index}
</delete>
<!-- getcount -->
<select id="getCount" parameterType="com.jscb.gohaeng.dto.NoticeDto" resultType="int">
	SELECT NVL(MAX(ROWNUM), 0) FROM NOTICE
	<choose>
		<when test="title != null">
			WHERE NOTICE_TITLE LIKE '%${title}%'
		</when>
		<when test="content != null">
			WHERE NOTICE_CONTENT LIKE '%${content}%'
		</when>
	</choose>
</select>
<!-- 조회수 증가 -->
<update id="addHitCount" parameterType="int">
	UPDATE NOTICE
	SET NOTICE_HIT=NOTICE_HIT+1
	WHERE NOTICE_INDEX=#{index}
</update>
<!-- 공지사항 등록 -->
<insert id="insert" parameterType="com.jscb.gohaeng.dto.NoticeDto">
	INSERT INTO NOTICE
	(NOTICE_INDEX, WRITER_ID, NOTICE_TITLE, NOTICE_CONTENT)
	VALUES(NOTICE_SEQ.NEXTVAL, 'ADMIN',  #{title}, #{content})	
</insert>
<!-- 공지사항 수정 -->
<update id="update" parameterType="com.jscb.gohaeng.dto.NoticeDto">
	UPDATE NOTICE
	SET NOTICE_TITLE = #{title}, NOTICE_CONTENT = #{content}
	WHERE NOTICE_INDEX = #{index}
</update>

</mapper>



















